#video-player {
    background: lightblue;
}

#chat {
    background: lightgreen;
}

#control-panel {
    background: lightgray;
}

.margin-bottom {
    margin-bottom: 10px;
}

.video-feed {
    width: 213px;
    height: 543px;
}

.script-menu>::ng-deep .mat-figure {
    align-items:flex-start;
}