#video-player {
    background: black;
}

#chat {
    background: lightgreen;
}

#control-panel {
    background: lightgray;
}

.margin-bottom {
    margin-bottom: 10px;
}

.video-feed {
    width: 100%;
    height: auto;
}

.script-menu>::ng-deep .mat-figure {
    align-items: flex-start;
}

#video-controls.disabled {
    pointer-events: none;
    opacity: 0.5;
    /* background: #CCC; */
}