<mat-grid-list id="full-screen" cols="8" rows="4" rowHeight="4:3">
    <mat-grid-tile id="chat" [colspan]=2 [rowspan]=3>
        <nb-chat title="Chat">
            <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
                [sender]="msg.user.name" [date]="msg.date" [quote]="msg.quote">
            </nb-chat-message>

            <nb-chat-form (send)="sendMessage($event, 'Puppeteer', '', true)">
            </nb-chat-form>
        </nb-chat>
    </mat-grid-tile>

    <mat-grid-tile id="video-player" [rowspan]=3 [colspan]=4>
        <div [@inAnimation] style="display: flex;" *ngIf="loadingVideo">
            <div class="loader_1"></div>
            <div class="loader_2"></div>
            <div class="loader_3"></div>
        </div>

        <button [@inAnimation] *ngIf="isConnectedTest && !videoSrc;" mat-icon-button class="discrete-button play-button"
            (click)="onStartVideoStream()">
            <mat-icon [inline]="true" title="Start robot video stream" role="button">live_tv</mat-icon>
        </button>

        <img id="video-player-inner" [ngClass]="{'hide-element': !isConnected || loadingVideo || !videoSrc}"
            class="dynamic-size" [src]="videoSrc">

        <mat-grid-tile-footer style="width: 100% !important">
            <div id="video-controls" title="Video control bar" [ngClass]="{disabled: !isConnected}"
                style="width: 100% !important">
                <button [@inAnimation] [@outAnimation] *ngIf="videoSrc.length > 1" mat-icon-button
                    class="discrete-button" (click)="onStopVideoStreaming()">
                    <mat-icon title="Stop robot video stream" role="button">tv_off</mat-icon>
                </button>
                <button title="Enter/Exit fullscreen mode" class="discrete-button full-screen-button" mat-icon-button
                    (click)="fullScreenVideo()">
                    <mat-icon>open_in_full</mat-icon>
                </button>
            </div>
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile class="script-menu" id="control-panel" [colspan]=2 [rowspan]=3>
        <mat-list>
            <b>Connection</b>
            <mat-list-item>
                <p mat-line><b>Robot:</b> {{selectedRobot?.name}} </p>
                <p mat-line><b>Connection:</b> Active </p>
            </mat-list-item>

            <mat-divider></mat-divider>
            <b>Active Modalities</b>
        </mat-list>

    </mat-grid-tile>
    <mat-grid-tile style="overflow-y: visible; width: 100%;" [colspan]=8>
        <div style="width: 100%;">
            <div style="margin-bottom: 20px; width: 100%; text-align: center;">
                <b>Control Panel</b>
            </div>
            <div style="width: 100%; justify-content: center; display: flex;">
                <button style="justify-self: center; margin-right: 20px;" (click)="onConnect()"
                    class="mat-raised-button margin-bottom">
                    {{isConnected? "Disconnect" : "Connect to a robot"}}
                </button>
                <div [@outAnimation] [@inAnimation] style="display: inline;">
                    <button class="mat-raised-button margin-right"> Activate Gaze Control</button>
                    <button class="mat-raised-button margin-right"> Start Routine</button>
                    <button class="mat-raised-button margin-right"> Stop</button>
                    <div style="display: inline;">
                        <app-keyboard-joystick></app-keyboard-joystick>
                    </div>

                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>