<h2 mat-dialog-title>Robot Selection</h2>
<mat-dialog-content style="height: 100%;">
    <div style="display: block;">
        <form [formGroup]="form">
            <button style="margin-top: 10px; margin-right: 50px;" mat-raised-button (click)="searchRobots()">
                <mat-icon style="margin-right: 20px;">refresh</mat-icon> Refresh list
            </button>
            <mat-form-field>
                <mat-label>Robot</mat-label>
                <mat-select *ngIf="!config.singleSelection" (selectionChange)="selectedRobots=$event.value" [disabled]="!availableRobots.length"
                    formControlName="robots" multiple>
                    <mat-option *ngFor="let robot of availableRobots" [value]="robot">
                        {{robot?.name}}
                    </mat-option>
                </mat-select>
                <mat-select *ngIf="config.singleSelection" (selectionChange)="selectedRobots=$event.value"
                    [disabled]="!availableRobots.length" formControlName="robots">
                    <mat-option *ngFor="let robot of availableRobots" [value]="robot">
                        {{robot?.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <ng-container *ngIf="availableRobots.length">
            <app-robots-table [@inAnimation] [@outAnimation] style="width: 100%;"
                [singleSelection]="config.singleSelection" [selectedRobots]="selectedRobots" (selectedRobotEmitter)="form.controls['robots'].patchValue($event)"
                [robotsList]="availableRobots">
            </app-robots-table>
        </ng-container>
    </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button [disabled]="this.form.invalid" mat-button [mat-dialog-close]="onClose()" cdkFocusInitial>Save</button>
</div>