<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Robot</mat-label>
            <mat-select [disabled]="availableRobots.length == 0" formControlName="robot">
                <mat-option *ngFor="let robot of availableRobots" [value]="robot">
                    {{robot?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <button style="margin-top: 10px;" mat-raised-button (click)="searchRobots()">
            Search Robots...
        </button>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button [disabled]="this.form.invalid" mat-button [mat-dialog-close]="onClose()" cdkFocusInitial>Save</button>
</div>