table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.centered-mat-card {
    width: 70%;
    margin: auto;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(245, 245, 245);
}
