<mat-card class="centered-mat-card">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="openProject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row">
                    <button color="primary" mat-raised-button (click)="onOpenProject(row)">
                        <mat-icon style="margin-right: 10px;">open_in_new</mat-icon>
                        Open
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <mat-form-field *ngIf="row.editable" style="width: 90%;">
                        <mat-label>Supported Robots ...</mat-label>
                        <input [id]="'input-title-' + i" matInput type="text"
                            *ngIf="row.editable" [value]="row.title">
                    </mat-form-field>

                    <ng-container *ngIf="!row.editable">
                        {{row.title}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <mat-form-field *ngIf="row.editable" style="width: 90%;">
                        <mat-label>Description</mat-label>
                        <textarea [rows]=1 [id]="'input-description-' + i" matInput
                            [value]="row.description"></textarea>
                    </mat-form-field>

                    <ng-container *ngIf="!row.editable">{{row.description}}</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="robot">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Supported Robots </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <mat-form-field *ngIf="row.editable" style="width: 90%;">
                        <mat-label>Supported Robots ...</mat-label>
                        <input class="clickable" aria-label="button" (click)="openDialog(row, i)" [readonly]="true"
                            [id]="'input-supported-robots-text-' + i" matInput type="text"
                            [value]="row.supportedRobotsText" />
                    </mat-form-field>

                    <ng-container *ngIf="!row.editable">
                        {{row.supportedRobotsText}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <button *ngIf="!row.editable" mat-icon-button (click)="makeLineEditable(row)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>

                    <div style="display: flex;" *ngIf="row.editable;">
                        <button title="save" aria-label="save changes" mat-icon-button (click)="saveProject(row, i, tempRobots)">
                            <mat-icon color="primary">save</mat-icon>
                        </button>
                        <button title="cancel" aria-label="cancel changes" mat-icon-button color="warn" (click)="makeLineEditable(row)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <button aria-label="New project" mat-fab style="float: right; margin-top: 50px;" (click)="newProject()"
        color="primary">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>